@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font: normal 100%/1.3 sans-serif;
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #aaffcb;
}

header {
  padding: 0;
  overflow: hidden;
  width: 100%;
  background-color: #feffaa;
}

.nav {
  position: relative;
  min-height: 220px;
  max-height: 300px;
}

h1 {
  font-size: 2rem;
  color: #53c287;
  font-family: "Lobster Two", cursive;
  margin: 0;
  padding-top: .4rem;
  text-align: center;
  max-width: 100%;
}

nav ul {
  text-align: center;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

li .navi {
  display: inline-block;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: #53c287;
  font-size: 1.5rem;
  font-family: "Sulphur Point", sans-serif;
  display: block;
  padding: .5em 2em;
  border: solid 1px #feffaa;
  background-color: #feffaa;
  background: rgba(255, 255, 255, .5);
}

nav a:hover {
  background-color: #feffcc;
  color: #008B8B;
}

li h3 {
  text-align: center;
}

.favs div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section ul {
  display: inline-block;
  padding-right: 3em;
}

section li {
  display: flex;
  max-width: 50%;
  flex-direction: row;
  flex-grow: 1;
}

.candy {
  max-width: 100%;
  list-style-type: none;
  display: inline-block;
}

section h2 {
  display: block;
  text-align: center;
  color: #ff5733;
  font-size: 1.3em;
}

.favs a:hover {
  color: red;
}

.candy img {
  display: block;
  width: 50px;
}

li img {
  margin: auto;
}

.candy-link {
  font-size: 1em;
  font-family: "Sulphur Point", sans-serif;
  font-weight: bold;
  list-style-type: none;
  color: #ff5733;
  text-decoration: underline;
}

section p {
  font-family: "Sulphur Point", sans-serif;
  color: black;
  text-decoration: none;
  font-size: .7em;
  margin-top: 0;
  padding: 0 1em;
  min-width: 15em;
}

.special {
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  position: relative;
}

.special img {
  width: 100%;
}

.special figcaption {
  font-family: "Lobster Two", cursive;
  font-size: 2em;
  text-align: center;
  color: #53c490;
  position: absolute;
  border: solid 2px #feffaa;
  background-color: #feffaa;
  background: rgba(255, 255, 255, .5);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.newyear {
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  position: relative;
}

.newyear img {
  width: 100%;
}

.newyear figcaption {
  font-family: "Lobster Two", cursive;
  font-size: 2em;
  text-align: center;
  color: #53c490;
  position: absolute;
  border: solid 2px #feffaa;
  background-color: #feffaa;
  background: rgba(255, 255, 255, .5);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.options {
  margin-top: 4em;
}

.vegan {
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  position: relative;
}

.vegan .img-flex {
  width: 100%;
}

.vegan figcaption {
  font-family: "Sulphur Point", sans-serif;
  font-size: 1.5em;
  color: #ff5733;
  position: absolute;
  padding: .5em 3em;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nutfree {
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  position: relative;
}

.nutfree figcaption {
  font-family: "Sulphur Point", sans-serif;
  font-size: 1.5em;
  color: #ff5733;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.glutenfree {
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  position: relative;
}

.img-flex {
  width: 100%;
  display: block;
}

.glutenfree figcaption {
  font-family: "Sulphur Point", sans-serif;
  font-size: 1.5em;
  color: #ff5733;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.vegan figcaption:hover {
  color: red;
}

.nutfree figcaption:hover {
  color: red;
}

.glutenfree figcaption:hover {
  color: red;
}

.creators {
  background: rgba(255, 255, 255, .5);
  padding-top: 3em;
  padding-bottom: 3em;
}

.beau img {
  display: block;
  margin: auto;
}

.beau h2 {
  font-size: 1.5em;
  font-family: "Lobster Two", cursive;
  display: block;
  text-align: center;
  color: #53c490;
  border: solid 2px #feffaa;
  background-color: #feffaa;
  margin: .5em;
}

.creators h2:hover {
  color: #008B8B;
  background: rgba(255, 255, 255, .5);
}

.mary h2 {
  font-size: 1.5em;
  font-family: "Lobster Two", cursive;
  display: block;
  text-align: center;
  color: #53c490;
  border: solid 2px #feffaa;
  background-color: #feffaa;
  margin: .5em;
}

.beau a {
  color: #53c490;
}

.mary a {
  color: #53c490;
}

.mary img {
  display: block;
  margin: auto;
}

footer {
  background-color: #feffaa;
  overflow: hidden;
}

footer h2 {
  font-size: 2em;
  font-family: "Lobster Two", cursive;
  display: block;
  text-align: center;
  margin: 0;
}

footer .links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 4em;
  margin-bottom: 2em;
}

footer img {
  width: 33.3333%;
}

footer a {
  text-align: center;
  display: flex;
  color: #53c490;
  font-size: 1em;
  padding: .5em;
  text-decoration: none;
}

footer a:hover {
  color: #008B8B;
}

footer p {
  font-size: 1em;
  text-align: center;
}

@media only screen and (min-width: 25em) {

  html {
    font-size: 120%;
    line-height: normal;
  }

  nav ul {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
  }

  nav li {
    display: flex;
    flex-direction: row;
  }

  nav a {
    font-size: 1em;
  }

  section h2 {
    font-size: 1em;
  }

  header {
    height: 9em;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  nav ul {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
  }

  nav li {
    display: flex;
    flex-direction: row;
  }

  .favs li {
    width: 100%;
    display: flex;
    margin-bottom: 1em;
  }

  .favs img {
    width: 20%;
    margin-right: 1rem;
  }

  .favs p {
    margin: auto;
  }

  .holiday {
    display: flex;
    flex-direction: row;
  }

  .special, .newyear {
    width: 50%;
  }

  .creators {
    display: flex;
    flex-direction: row;
  }

  .creators div {
    width: 50%;
  }

  .candy p {
    flex-grow: 1;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  h1 {
    font-size: 2em;
  }

  section ul {
    display: inline-block;
    flex-direction: row;
    text-align: left;
  }

  .side {
    display: flex;
  }

  .holiday {
    display: inline-block;
  }

  .special img {
    display: block;
    width: 200%;
  }

  .newyear img {
    display: block;
    width: 200%;
  }

  .options {
    margin-top: 0;
    width: 100%;
    display: inline-block;
  }

  footer {
    display: flex;
    justify-content: space-around;
  }

  footer h2 {
    margin-top: 1em;
  }

  .links {
    margin-top: 2em;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

}
